<!DOCTYPE html>
<html class="dark" lang="pt-BR">
    <head>
        <meta charset="utf-8" />
        <title>Manguetown - Aprendendo Rust</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
            name="description"
            lang="pt-BR"
            content="Manguetown é um blog pessoal sobre aprendizado em Rust"
        />
        <meta name="author" content="Chicâo Thiago" />
        <link rel="shortcut icon" href="{{ get_url(path="fav5.png") }}"
        type="image/x-icon" />
        <link
            href="https://fonts.cdnfonts.com/css/open-dyslexic?styles=49734"
            rel="stylesheet"
        />

        <link href="{{ get_url(path="output.css") }}" rel="stylesheet"/>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=open_in_new"
        />
    </head>

    <body class="h-full bg-indigo-950 text-stone-200 max-w-6xl mx-auto">
        <header class="pt-6">{% include "components/header.html" %}</header>
        <section class="text-center">
            <p class="text-yellow-500">Esse projeto está em desenvolvimento.</p>
            <p class="mt-12">Artigos estão a caminho. :D</p>
        </section>
    </body>
</html>
